.notFoundPage {
    color: #c6667e;
    height: 100vh;
    font-size: 3em;
    padding-top: 150px;
}

.kitty {
    color: #f97ba0;
}

.headerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 70px;
}

.panelToClick {
    width: 55px;
    height: 35px;
    border: 2px solid grey;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    display: block;
}
.itemsWrapperShow, .itemsWrapperHidden {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    transition: 0.8s;
}

.itemsWrapperShow {
    height: 100px;
    transform: translate(0, 0);
}

.itemsWrapperHidden {
    transform: translate(0, -100px);
    height: 0;
}

.item a {
    color: black;
    text-decoration: none;
    padding-top: 15px;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

.item a.active {
    color: mediumvioletred;
}