.superInput {
    border: 5px solid mediumvioletred;
    background-color: white;
}

.errorInput {
    border: 3px solid #c7215f;
    background: white;
}

.error {
    color: #c7215f;
}

.spanClassName {
    background-color: dodgerblue;
}