.superInput {
    border: 5px solid mediumvioletred;
    background-color: white;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}

.spanClassName {
    background-color: dodgerblue;
}